
<div class="image">
  <div class="image-controls">
    <h4>{{currentPage}}/{{files.length}}</h4>
  </div>
  <div class="image-container">
    <button [disabled]="currentPage === 1" (click)="scrollTo(-1)" class="image-container_arrows">
      <mat-icon class="image-container_arrows__icon">arrow_back_ios</mat-icon>
    </button>

    <div class="image-container_pages">
      <div *ngFor="let file of files" class="image-container_pages_view">
        <img  [src]="file.base64"
              [attr.id]="file.id"
              (dblclick)="createAnnotation($event, file.id)"
              class="image-container_pages_view__img">
        <div *ngFor="let annotation of getAnnotations(file.id)"
             class="image-container_pages_view--annotations"
             cdkDrag cdkDragBoundary=".image-container_pages"
             [cdkDragFreeDragPosition]="annotation.position"
             [attr.id]="annotation.id"
             [style.background-color]="annotation.color"
             [style.opacity]="annotation.opacity"
             [style.width]="annotation.size.width + 'px'"
             [style.height]="annotation.size.height + 'px'" (cdkDragEnded)="savePosition($event, annotation.id)"
             (click)="openAnnotation(annotation.id)">
          <mat-icon *ngIf="currentAnnotationId && currentAnnotationId === annotation.id" class="image-container_pages_view--annotations__drag" cdkDragHandle>drag_indicator</mat-icon>
          <mat-icon *ngIf="currentAnnotationId && currentAnnotationId === annotation.id" (click)="deleteAnnotation(annotation.id, file.id)" class="image-container_pages_view--annotations__delete">close</mat-icon>
         </div>
        <div class="image-container_pages_view_controls">
          <mat-icon class="image-container_pages_view_controls__icon" (click)="zoomTo(1, file.id)">zoom_in</mat-icon>
          <mat-icon class="image-container_pages_view_controls__icon" (click)="zoomTo(0, file.id)">crop_free</mat-icon>
          <mat-icon class="image-container_pages_view_controls__icon" (click)="zoomTo(-1, file.id)">zoom_out</mat-icon>
        </div>
      </div>
    </div>

    <button [disabled]="currentPage === files.length" (click)="scrollTo(1)" class="image-container_arrows">
      <mat-icon class="image-container_arrows__icon">arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>

<div class="options">
  <div class="options_delete" (click)="delete()" routerLink="/document-list">
    <mat-icon class="options_delete__icon">delete_forever</mat-icon>
    <h5 class="options_delete__text">Delete document</h5>
  </div>

  <app-annotation-params *ngIf="currentAnnotationId" [annotationId]="currentAnnotationId" ></app-annotation-params>
</div>

