
<div class="image">
  <div class="image-controls">
    <h4>{{currentPage}}/{{files.length}}</h4>
  </div>
  <div class="image-container">
    <button [disabled]="currentPage === 1" (click)="scrollTo(-1)" class="image-container_arrows">
      <mat-icon class="image-container_arrows__icon">arrow_back_ios</mat-icon>
    </button>

    <div class="image-container_pages">
      <div *ngFor="let file of files" class="image-container_pages_view">
        <img  [src]="file.base64"
              [attr.id]="file.id"
              (dblclick)="createAnnotation($event, file.id)"
              class="image-container_pages_view__img">
        <div *ngFor="let annotation of getAnnotations(file.id)"
             class="image-container_pages_view--annotations"
             cdkDrag cdkDragBoundary=".image-container_pages"
             [cdkDragFreeDragPosition]="annotation.position"
             [attr.id]="annotation.id"
             [style.background-color]="annotation.color"
             (click)="openAnnotation(annotation.id)"
             (touchstart)="savePos($event, annotation.id)"
             (touchend)="clearPos($event, annotation.id)"
             (touchmove)="moveSize($event, annotation.id)">
          <mat-icon *ngIf="currentAnnotation === annotation.id" class="image-container_pages_view--annotations__drag" cdkDragHandle>drag_indicator</mat-icon>
          <mat-icon *ngIf="currentAnnotation === annotation.id" (click)="deleteAnnotation(annotation.id, file.id)" class="image-container_pages_view--annotations__delete">close</mat-icon>
          Test
        </div>
        <div class="image-container_pages_view_controls">
          <mat-icon class="image-container_pages_view_controls__icon" (click)="zoomTo(1, file.id)">zoom_in</mat-icon>
          <mat-icon class="image-container_pages_view_controls__icon" (click)="zoomTo(0, file.id)">crop_free</mat-icon>
          <mat-icon class="image-container_pages_view_controls__icon" (click)="zoomTo(-1, file.id)">zoom_out</mat-icon>
        </div>
      </div>
    </div>

    <button [disabled]="currentPage === files.length" (click)="scrollTo(1)" class="image-container_arrows">
      <mat-icon class="image-container_arrows__icon">arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>

<mat-icon (click)="delete()" routerLink="/document-list" style="color: red; font-size: 40px; margin: 30px; width: auto; height: auto;">delete_forever</mat-icon>
